

@media screen and (min-width: 480px) {
    .imgsize {
      width: 30%;
    }
  }

  .btn-primary {
  color: #fff !;
  background-color: #2B59FF !important;
  border-color: #2B59FF !important;
}


.btn-primary:hover {
  color: rgb(0, 0, 0);
  background-color: var(--lvl_yellow) !important;
  border-color: var(--lvl_yellow)   !important;
  /* background-color: #D6DF21;
  border-color: #D6DF21; */
}
img {
  border-radius: 5%;
  float: right !important;
}
.lead{
  color: #95bddd !important;
  /* color: var(--lvl_lightBlue); */
}



