

@media screen and (min-width: 480px) {
    .imgsize {
      width: 30%;
    }
  }

  .btn-primary {
  color: #fff !;
  background-color: #2B59FF;
  border-color: #2B59FF;
}

.btn-primary:hover {
  color: rgb(0, 0, 0);
  background-color: #D6DF21;
  border-color: #D6DF21;
}
img {
  border-radius: 5%;
  float: right !important;
}
.lead{
  color: #95bddd !important;
}



