.navbar-logo{
    height: 35px;
    overflow: hidden;
    
}

.btn-outline-info {
    /* color: #D6DF21;
    border-color: #D6DF21; */
    color: var(--lvl_yellow) !important;
    border-color: var(--lvl_yellow) !important;
  }
  
  .btn-outline-info:hover {
    color:var(--lvl_dark) !important;
    background-color: var(--lvl_yellow) !important;
    border-color: var(--lvl_yellow) !important;
  }

.nav-link:hover{
 color: var(--lvl_yellow) !important;
}
.dropdown-item:hover{
  background-color: var(--lvl_yellow) !important;
  color: black !important;
}