/* colorTheme */
:root {
  --lvl_yellow: #ffcd4c;
  --lvl_green: #30B451;
  --lvl_dark: #151321;
  --lvl_fadeDark: #212230;
  --lvl_fadeLight: #33354f;
  --lvl_light: #c0c0c0;
  --lvl_blue: #2B59FF;
  --lvl_lightBlue: #00C9FF;  
}
.bg-fadeLight {
  background-color: var(--lvl_fadeLight);
}
.bg-yellow{
  background-color: var(--lvl_yellow);
}
.bg-dark{
  background-color: var(--lvl_fadeDark) !important;
}
.bg-lvldark{
  background-color: var(--lvl_dark) !important;
}
.accordion-item{
  background-color: var(--lvl_fadeDark) !important;
}
.accordion-button{
  background-color: var(--lvl_fadeDark) !important;
  color: #fff;
}
.list-group-item-dark{
  background-color: var(--lvl_fadeDark) !important;
  color: #fff !important;
}
.sm-h5{
  font-size: 1.1em;
}


.nothing_searched{
  width: 100%;
  height: 400px;
}

.dashboard_main {
    /* background-color: #2D2D30; */
    background-color:var(--lvl_dark);
}
.bg-lvlgreen{
  background-color: #D6DF21;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  .svg-inline--fa.fa-w-14 {
    width: 0.875em;
  }
 .forecast_btn{
    text-align: center;
 }

 .btn-success {
    color: #fff !;
    background-color: #215ba7e7;
    border-color: #166faae8;
  }
  
  .btn-success:hover {
    color: rgb(0, 0, 0);
    background-color: var(--lvl_yellow) !important;
    border-color: var(--lvl_yellow) !important;
    /* background-color: #D6DF21;
    border-color: #D6DF21; */
  }
  #search_input{
    text-transform: uppercase;
    
  }

  .card-widget {
    
    padding: 1.5rem;
    border-radius: 50rem;
    /* background: #fff; */
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    justify-content: center;
  }
  .card-widget,
  .card-widget-body {
    display: inline;
    align-items: center;
  }
  .card-widget-body {
    flex-grow: 1;
  }
  .card-header {
    padding: 1rem 2rem;
    /* background-color: #6292366c; */
  }

  .my-header{
    display: flex;

  }

  .sectorShorts{
    font-size: 0.9rem;
  }
/* range slider */

.range{
  display: inline-block;
width: 100%;
}

input::-webkit-outer-spin-button,
button::-webkit-outer-spin-button,
button::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}
input{
  /* outline: #1eaa59; */
 border: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



  .gauge-wrapper {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 20px 15px 15px;
  }
  
  .gauge {
    background: #e7e7e7;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0!important;
    position: relative;
    overflow: hidden;
  }
  .gauge.min-scaled {
    transform: scale(0.5);
  }
  
  .gauge-center {
    content: '';
    color: #fff;
    width: 60%;
    height: 60%;
    background: #15222E;
    border-radius: 100px 100px 0 0!important;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 21%;
    bottom: 0;
    color: #fff;
    z-index:10;
  }
  
  .gauge-center .label, .gauge-center .number {display:block; width: 100%; text-align: center; border:0!important;}
  .gauge-center .label {font-size:0.75em; opacity:0.6; margin:1.1em 0 0.3em 0;}
  .gauge-center .number {font-size:1.2em;}
  
  .needle {
    width: 80px;
    height: 7px;
    background: #15222E;
    border-bottom-left-radius: 100%!important;
    border-bottom-right-radius: 5px!important;
    border-top-left-radius: 100%!important;
    border-top-right-radius: 5px!important;
    position: absolute;
    bottom: -2px;
    left: 20px;
    transform-origin: 100% 4px;
    transform: rotate(145deg);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
    display:none;
    z-index:9;
  }
  
  .four.rischio1 .needle {animation: fourspeed1 2s 1 both; animation-delay: 1s; display:block;}
  .four.rischio2 .needle {animation: fourspeed2 2s 1 both; animation-delay: 1s; display:block;}
  .four.rischio3 .needle {animation: fourspeed3 2s 1 both; animation-delay: 1s; display:block;}
  .four.rischio4 .needle {animation: fourspeed4 2s 1 both; animation-delay: 1s; display:block;}
  
  .slice-colors {height:100%;}
  
  .slice-colors .st {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;  
  }
  
  
  .four .slice-colors .st.slice-item:nth-child(2) {
    border-top: 50px #f1c40f solid;
    border-right: 50px #f1c40f solid;
    background-color:#1eaa59;
  }
  
  .four .slice-colors .st.slice-item:nth-child(4) {
    left:50%;
    border-bottom: 50px #E84C3D solid;
    border-right: 50px #E84C3D solid;
    background-color:#e67e22;
  }
  
  
  @-webkit-keyframes fourspeed1 {
    0% {transform: rotate(0);}
    100% {transform: rotate(16deg);}
  }
  
  @-webkit-keyframes fourspeed2 {
    0% {transform: rotate(0);}
    100% {transform: rotate(65deg);}
  }
  
  @-webkit-keyframes fourspeed3 {
    0% {transform: rotate(0);}
    100% {transform: rotate(115deg);}
  }
  
  @-webkit-keyframes fourspeed4 {
    0% {transform: rotate(0);}
    100% {transform: rotate(164deg);}
  }
  